<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="input.component.css" />
    <title>Document</title>
  </head>
  <body>
    <datalist id="ice-cream-flavors">
      <option value="Chocolate"></option>
      <option value="Coconut"></option>
      <option value="Mint"></option>
      <option value="Strawberry"></option>
      <option value="Vanilla"></option>
    </datalist>

    <label for="firstName">First Name: </label>
    <input type="text" name="firstName" id="firstName" />

    <label for="lastName">Last Name: </label>
    <input
      type="text"
      name="lastName"
      id="lastName"
      readonly
      value="FIXED READ ONLY"
    />

    <label for="charLimit">Limit Characters (4 - 8): </label>
    <input
      type="text"
      name="charLimit"
      id="charLimit"
      minlength="4"
      maxlength="8"
      size="50"
      placeholder="add here"
    />

    <label for="ice-cream-choice">Choose a flavor:</label>
    <input
      list="ice-cream-flavors"
      id="ice-cream-choice"
      name="ice-cream-choice"
    />

    <!-- Validation -->
    <form>
      <div>
        <label for="uname">Choose a username: </label>
        <input type="text" id="uname" name="name" required />
        <span class="validity"></span>
      </div>
      <div>
        <button>Submit</button>
      </div>
    </form>


    <!-- My Validation -->
    
  </body>
</html>
